
body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/007/455/521/original/colorful-low-poly-background-polygonal-design-pattern-bright-mosaic-modern-geometric-design-creative-design-templates-connected-lines-with-dots-free-vector.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}


.container {
  background: rgba(0, 0, 0, 0.6);
  margin: 50px auto;
  padding: 30px;
  width: 80%;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(119, 4, 4, 0.2);
}


.main-heading {
  font-family: 'Georgia', serif;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  color: #f0c040;
}

h2 {
  font-family: 'Trebuchet MS', sans-serif;
  color: #49556f;
  margin-top: 0;
}


.intro-text {
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: center;
}

.highlight-box {
  background-image: url('https://static.vecteezy.com/system/resources/previews/021/053/425/non_2x/abstract-shape-colorful-background-and-texture-soft-color-suitable-for-creative-industries-free-vector.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  margin: 30px 0;
  color: #000000;
  text-shadow: 1px 1px 3px #000;
}
.styled-link {
  display: inline-block;
  background-color: #f0c040;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background 0.3s;
}
.styled-link:hover {
  background-color: #ffda6b;
}
